---
---
@import "common";
@import "highlight";

.main.note {

	.note__inner {

		margin: 0 auto;
		padding: 0 1rem;
		width: 800px;

		@include narrow-width {
			margin: 0;
			width: auto;
		}

		.note__title {
			margin: 0;
		}

		.note__pubdate, .note__author {
			color: #999999;
			font-family: Verdana, sans-serif;
			font-size: 80%;
		}

		.note__tags.tags {
			display: inline;
			margin: 0;
			padding: 0;

			.tags__tag.tag {
				display: inline;
				list-style-type: none;
				margin: 1rem 0 0 0;
				padding: 0;

				.tag__link {
					&:link, &:visited {
						color: #999999;
						text-decoration: none;
					}
					&:hover, &:active {
						text-decoration: underline;
					}
				}

				.tag__text {
					display: inline;
					font-family: Verdana, sans-serif;
					font-size: 80%;
				}
			}
		}

		.note__blob.blob,
		.note__blame.blame,
		.note__history.history {
			font-family: Verdana, sans-serif;
			font-size: 80%;
			font-weight: bolder;

			.blob__link,
			.blame__link,
			.history__link {
				&:link, &:visited {
					color: #999999;
					text-decoration: none;
				}
				&:hover, &:active {
					text-decoration: underline;
				}
			}
		}

		.note__content {
			margin-bottom: 5rem;
			margin-top: 3rem;

			// #, ##, ###, ####, #####, ######
			h1, h2, h3, h4, h5, h6 {
				border-bottom: 1px solid #cccccc;
				margin: 5rem 0 1rem 0;
			}

			// [link](url)
			a:link, a:visited {
				color: #3333cc;
				text-decoration: none;
			}
			a:hover, a:active {
				text-decoration: underline;
			}

			// ---
			hr {
				border: 0;
				border-top: 1px solid #cccccc;
				margin: 2rem 0;
			}

			// >
			blockquote {
				background-color: #efefef;
				border: 1px solid #cccccc;
				border-radius: 3px;
				margin: 0;
				padding: 0.3rem 0.5rem;
				position: relative;

				p {
					margin: 0;
				}
			}

			// |column1|column2|column3|
			// |-------|-------|-------|
			// |column1|column2|column3|
			// |column1|column2|column3|
			table {
				border: 1px solid #cccccc;
				border-collapse: collapse;

				th, td {
					border: 1px solid #cccccc;
					padding: 0 0.2rem;
				}
			}

			// `code`
			code.highlighter-rouge {
				background-color: #efefef;
				border-radius: 3px;
				color: #000000;
				font-family:
					Consolas,
					Inconsolata,
					Menlo,
					Monaco,
					monospace;
				padding: 0.2rem 0.2rem 0 0.2rem;
			}

			// ```language
			// ```
			// or
			// {% highlight language %}
			// {% endhighlight %}
			.highlight {
				background-color: #efefef;
				border: 1px solid #cccccc;
				border-radius: 5px;
				margin: 0;
				overflow: scroll;
				padding: 0.3rem 0.5rem;

				pre {
					margin: 0;
				}

				code {
					font-family:
						Consolas,
						Inconsolata,
						Menlo,
						Monaco,
						monospace;

						@include highlight;
				}
			}

			div.highlighter-rouge, figure.highlight {
				margin: 1rem 0;
			}

			// any embed content
			iframe {
				display: block;
				margin: 0 auto;
			}
		}

	}

}
