---
---
body {
	color: #333333;
	font-family:
		"Segoe UI",
		"MigMix 1P", "migmix-1p",
		"ヒラギノ角ゴ Pro", "Hiragino Kaku Gothic Pro",
		"メイリオ", Meiryo,
		sans-serif;
}

.slide {

	&.remark-presenter-mode .slide__metadata {
		top: -5rem;
	}

	.slide__metadata {
		background-color: #ffffff;
		border-radius: 0 0 5px 5px;
		box-shadow: 0 0 30px #888888;
		left: 0;
		margin: auto;
		opacity: 0.6;
		padding: 0.4rem 0.6rem;
		position: absolute;
		right: 0;
		text-align: center;
		top: -3rem;
		transition:
			opacity 0.2s ease 0s,
			top 0.2s ease 0s;
		width: 80%;
		z-index: 3;

		&:hover {
			opacity: 1;
			top: 0;
		}

		&.slide__metadata--hide {
			top: -5rem;
		}

		.slide__title {
			font-size: 1.2rem;
			font-weight: lighter;
			margin: 0;
		}

		.slide__pubdate, .slide__author {
			color: #999999;
			font-size: 80%;
		}

		.slide__tags.tags {
			display: inline;
			margin: 0;
			padding: 0;

			.tags__tag.tag {
				display: inline;
				list-style-type: none;

				.tag__link {
					&:link, &:visited {
						color: #999999;
						text-decoration: none;
					}
					&:hover, &:active {
						text-decoration: underline;
					}
				}
				.tag__text {
					font-size: 80%;
				}
			}
		}

		.slide__blob.blob,
		.slide__blame.blame,
		.slide__history.history {
			.blob__link,
			.blame__link,
			.history__link {
				font-size: 80%;

				&:link, &:visited {
						color: #999999;
						text-decoration: none;
				}
				&:hover, &:active {
						text-decoration: underline;
				}
			}
		}
	}

}

.remark-slide-content {
	font-size: 26px;
	padding: 0;

	&:not(.top):not(.middle):not(.bottom):not(.left):not(.center):not(.right) {
		> :nth-child(2) {
			margin-top: 4rem;
		}

		> * {
			margin-left: 4rem;
			margin-right: 4rem;
		}

		h1, h2, h3, h4, h5, h6 {
			background-color: #79aeaa;
			color: #eeeeee;
			padding: 0.2rem 0 0.2rem 1rem;
			margin: 0;
		}

		ul li p {
			margin: 0;
		}

		blockquote p {
			&::before {
				color: #999999;
				content: "\201C";
				font-family: Helvetica, Arial, sans-serif;
				margin-right: 5px;
			}
			&::after {
				color: #999999;
				content: "\201D";
				font-family: Helvetica, Arial, sans-serif;
				margin-right: 5px;
			}
		}

		table {
			border-collapse: collapse;
			margin: 0 auto;

			td, th {
				border: 1px solid #005a59;
				padding: 0.2rem 1rem 0.2rem 1rem;
			}

			th {
				background-color: #79aeaa;
				color: #eeeeee;
			}
		}

		.remark-slide-number {
			margin: 0;
		}
	}

	strong {
		color: #005a59;
	}

	code {
		font-size: 26px;
	}

	a:link, a:visited {
		color: #005a59;
	}
	a:hover, a:active {
		text-decoration: none;
	}
}

.remark-code, .remark-inline-code {
	border-radius: 3px;
	font-family:
		Consolas,
		Inconsolata,
		Menlo,
		Monaco,
		monospace;
}

.remark-inline-code {
	background-color: #f0f0f0;
	padding: 0.2rem 0.2rem 0 0.2rem;
}
